mypy
python-docx
nltk
tika
spacy
numpy
pandas
gensim
sklearn
scipy
Flask>=0.10.1
Jinja2>=2.7
MarkupSafe>=0.18
Werkzeug>=0.9.1
itsdangerous>=0.22
flask-flatpages
frozen-flask
fastapi
aiofiles
mongoengine
dnspython
python-multipart
./en_core_web_sm-2.2.5.tar.gz
