
<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placement Cell, LNMIIT</title>
    <link rel="icon" href="https://www.lnmiit.ac.in/images/favicon.ico">
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/tpc.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/foot.css">
    <link rel="stylesheet" href="css/widescreen.css">

    <link rel="stylesheet" href="css/smallscreen.css">
    <script src="js/vendor/jquery.js"></script>
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.1.1/motion-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/foundation.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/vendor/jquery.min.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
    <style type="text/css">
          .full-width {
            max-width: 100%;
          }
          footer div {
            border-right: 5px;
            color: white;
          }
          footer div:last-child {
            border-right: 0;
          }
    div a{
      color: white;
    }
    footer hr{
      max-width:100%;
    }
    .Mail_Box{
      align-self: center;
    }
    .tabs1{
      text-align: center;
    }
    .tabs1 li{
            display: inline-block;
    vertical-align: bottom;
    align-self: center;
    }

    .flex {
  		display: flex;
  		flex-flow: row wrap;
  		justify-content: center;
  		padding: 0;
  		margin: 0;
	}

	.flex > div {
 		background-color: white;
  		width: 165px;
  		margin: 30px;
  		line-height: 50px;
 	}

 	.flex img{
 		width: 100%;
 		padding: 0;
 	}

    .cell img{
    	margin:12px;
    }
    .column{
    	margin:2%;
    }
    @media only screen and (max-width: 500px){
      .why-lnm{
        margin-left:10% !important;
        margin-right: 10% !important;
        font-size: 13px;
      }
      .procedure{
        margin-left:10% !important;
        margin-right:10% !important;
        font-size: 13px;
      }
      .recruit-img{
        width: 50% !important;

        margin:10% !important;
      }
      #rec-img{
        margin: 10% !important;
      }
    }
    @media screen and  (min-width: 1401px) {
    footer{
    margin-right: 0rem;
    margin-left: 0rem;
    padding-left: 5em;
    padding-right: 5em;
    display: block;
    max-width: none !important;
   }
  }
  @media screen and (min-width: 481px) and (max-width: 767px){
    .footer-links{
    padding-top: 25px;
    text-align: center !important;
    }
  }
  @media screen and (max-width: 481px){

    .footer-links{
    padding-top: 25px;
    text-align: center;
    }
    .footer-links-2{
      text-align: center !important;
    }
    .footer-desc{
      padding-left: 0px !important;
    }
  }


    </style>
  </head>
  <body >
      <div class="navbar" id= "nav" style="position: fixed;z-index: 100;width: 100%;top: 0;">
        <img src="images\logo.png" style="width: 160px;height: 60px;padding: 10px 1% 8px 1%;float:left;margin-top: 0.7%;" class="logo">
        <h3 style="margin-top: 1.7%; color: #FFFFFF;  font-size:17px;float: left;margin-bottom: 0;">
          <strong class="logo-right">
            <div style="letter-spacing: 1.2px;">
              Training & Placement Cell
              <p style="font-size: 11px;margin-top:2px;">The LNM Institute Of Information Technology</p>
            </div>
          </strong>
        </h3>
        <div style="float: right;" class="options">
        <a href="index.html">Home</a>
        <a href="recruiters.html">Recruiters</a>
        <a href="cons_stats.html">Statistics</a>
        <div class="dropdown">
          <a class="drop">Life at LNMIIT
            <i class="fa fa-angle-double-down"></i>
            <i class="fa fa-angle-double-up"></i>
          </a>
          <div class="drop-content" style="position: fixed;">
            <a href="academics.html">Academic Momentum</a>
            <a href="Prof_societies.html">Professional Societies</a>
            <a href="centres.html">Centers for Advanced Learning</a>
            <a href="clubs.html">Student Clubs</a>
          </div>
        </div>

        <a href="contact_us.html">Contact</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="displayMenu()"><i class="fa fa-bars"></i></a>
      </div>

<br>
<div class= "callout box2 box3 why-lnm start" style="margin-top: 7%;">
<div class="row">
        <h4 class="headings" style="text-align: center;color: #F0663B; font-weight: bold;margin-top: 1.5%;">Why LNMIIT?</h4>
            <br>
          <div class="grid-x grid-padding-x">
              <div class="medium-1 medium-1 small-0 cell">

              </div>
              <div class="large-10 medium-10 small-12 cell">
                <div class="grid-x grid-padding-x" align="justify">
                   <p>
                  The ​LNM Institute of Information Technology (LNMIIT), ​Jaipur is a joint venture of the Government of Rajasthan and the ​LUM (Lakshmi Niwas Mittal &amp; Usha Mittal) Foundation headed by the world steel baron ​Mr. Lakshmi Niwas Mittal (Chairman Arcelor-Mittal). This institute has been serving the industry for over a decade.The institute is at par with all the NITs and IIITs when it comes to admissions. The students are admitted on the basis of JEE Mains scores and the cut offs are always higher than national qualifying score. Last year’s placement drive saw the arrival of some of the most sought-after companies like Microsoft, Amazon, Adobe, Sprinkler, Zomato, Samsung to name a few. Research internships were also offered to the students.
                </div>

             </div>

        </div>
</div>
<h4 class="headings" style="text-align: center;width:100%;color: #F0663B; font-weight: bold; margin-top: 3% ;margin-left:1%;margin-bottom: 2%;">Student Achivements</h4>
<div class="row" >
    <div class="grid-x grid-padding-x align-center" style="text-align: justify;">
        <div class="large-1 cell"></div>
      <div class="large-2 medium-4 small-6 cell"><img src="Achievements/GCI.png"></div>
      <div class="large-2 medium-4 small-6 cell" "><img src="Achievements/gwtm.png"></div>
      <div class="large-2 medium-4 small-6 cell" ><img src="Achievements/RH.png"></div>
      <div class="large-2 medium-4 small-6 cell" "><img src="Achievements/ssep.png"></div>
      <div class="large-2 medium-4 small-6 cell"><img src="Achievements/Gsoc.png"></div>
      <div class="large-1 cell"></div>
      <!-- <div class="large-2 medium-4 small-12 cell" "><img src="Achievements/smc.png"></div> -->
      <!-- <div class="large-4 medium-4 small-12 cell"><center><i class="fa fa-check" style="font-size: 42px;color:#F0663B;"></i> </center><p>15 students got selected in Google Summer of Code (GSoC) 2017 and 10 students in GSoC 2018. Teams from the college are also participating in the ACM ICPC India regionals, Texas Instruments’ Innovation Challenge and IEEE technical projects every year including one selection in Outreachy by Wikipedia and Zulip Summer of Code.</p></div>
      <div class="large-4 medium-4 small-12 cell" style="margin-left: 3%;"><center><i class="fa fa-check" style="font-size: 42px;color:#F0663B;"></i></center><p>The highest package of 29.5 LPA and a healthy average of 7.34* LPA was maintained with a placement percentage of 91.28%. Start-ups by our Students: Lucideus, Bigstep Technologies Pvt. Ltd., The Elite Express, Codescape Consultants, Enuke Software, Neutrino IT Technologies (Pvt.) Ltd., Dream Animators and many more.</p></div> -->

    </div>
</div>

<br>

<div class="row" style="margin-top:1.5%;">
    <div class="grid-x grid-padding-x align-center" style="text-align: justify;">
        <div class="large-1 cell"></div>
        <div class="large-2 medium-4 small-6 cell"><img src="Achievements/smc.png"></div>
        <div class="large-2 medium-4 small-6 cell" "><img src="Achievements/icpc.png"></div>
        <div class="large-2 medium-4 small-6 cell"><img src="Achievements/SIH.png"></div>
        <div class="large-2 medium-4 small-6 cell" "><img src="Achievements/ATAL.png"></div>
        <div class="large-2 medium-4 small-6 cell"><img src="Achievements/Tata.png"></div>
        <div class="large-1 cell"></div>
      <!-- <div class="large-2 medium-4 small-12 cell" "><img src="Achievements/ATAL.png"></div> -->
      <!-- <div class="large-4 medium-4 cell small-12"><center><i class="fa fa-check" style="font-size: 42px;color:#F0663B;"></i></center><p>LNMIIT has been accredited Grade ‘A’ by NAAC with a score of 3.15/4. All of our engineering programs are approved by the AICTE. </p></div>
      <div class="large-4 medium-4 cell small-12" style="margin-left: 3%;"><center><i class="fa fa-check" style="font-size: 42px;color:#F0663B;"></i></center><p>During the session 2017-2018, LNMIIT successfully organized TEDx LNMIIT. By bringing the versatility of thoughts and fusion of ideas in one room, TEDx LNMIIT experienced the journey of various speakers including Hussain Haidry, Ishi Khosla, Rohan Parikh, Sanjoy Roy, Santosh Das, Siddharth Agarwal and Sudhanshu Kaushik.</p></div> -->
    </div>
</div>
</div>
<br>
<div class="callout box2 procedure">
<div class="row" style="width: 100%; align-content: center;align-self: center;">
 <h3 class="headings" style="text-align: center;color: #F0663B; font-weight: bolder;">Recruitment Procedure</h3>
  <div class="grid-x grid-padding-x align-center">
      <div class="large-10 medium-10 small-12 cell align-left">
        <div class="grid-x grid-padding-x align-left" style="float: left;padding-left: 2%;">
        <ul>The process involves the following steps</ul>
        <ul>
          <li>Companies share the filled job announcement form (JAF) and JD.</li>

          <li>After the Placement Cell is okay with the proposal slot decided and discussed by the company.</li>

          <li>JAF is shared with students and interested students register for company as per the eligibility decided by the company.</li>

          <li>Data is discussed with the company to process further.</li>
          <li>Date is mutually decided by the college and company for an on campus event.</li>
        </ul>

      </div>
  </div>
</div>
</div>
</div>

<div class= "callout box2" id="rec-img" style="margin-top: 3%; padding-left: -20px; padding-right: -20px;">
  <div class="row" style="text-align: center;   width: 100%; height: auto; margin: 0 auto; padding-top: 1%; position: relative;">
  <h3 class="headings" style="text-align: center;color: #F0663B; font-weight: bolder;margin-bottom: 2%;">Recruiters</h3>
  </div>
  <div class="flex" >
	    	<img src="company images/collage.png">
		</div>

	</div>
  <div class="row">
  <p class="paras" style="padding-left: 77px; margin-top: -10px; margin-bottom: 3%">*Including internship conversions</p>
	</div>





<footer class="row responsive" style="background-color: #F0663B;font-size: 13.5px;margin-left: 0;margin-right: 0;max-width: 100%;"><br>
          <div class="row align-center grid-x footer-desc" id="footrow" style="margin-bottom: 5%;padding-left: 5%;padding-right: 0;margin-right: 0 !important;max-width: 100%;">
            <div class="large-3 small-12 medium-3 columns size footer-links">
              <h6><b>Quick Links</b></h6>
              <a href="https://www.lnmiit.ac.in/" class="links">LNMIIT Home Page</a><br>
              <a href="recruiters.html" class="links">Recruiters </a><br>
              <a href="cons_stats.html" class="links">Statistics</a><br>
            </div>
            <div class="large-3 small-12 medium-3 columns size footer-links">
              <h6><b>Download</b></h6>
              <a href="Placement policy-2018-19 final.pdf" class="links">Placement Brochure</a><br>
            </div>
            <div class="large-3 small-12 medium-3 columns size footer-links">
              <h6><b>Contact</b></h6>
              Placement Office<br>
              Guest House<br>
              The LNM Institute of Information & Technology<br>
              Rupa ki Nangal, Post Sumel, Via Jamdoli<br>
              Jaipur-302031</a>
            </div>
            <div class="large-3 small-12 medium-3 columns size footer-links">

              <img src="images/mail_icon.png" style="height: 1.2em"> <a href="mailto:tpo@lnmiit.ac.in" style="color: white;">tpo@lnmiit.ac.in</a><br>
              <img src="images/phone-icon-orange.png" style="height: 1.5em">+91 141-2689015, 8696792550
            </div>
          </div>

          <hr style="color: white;max-width: 100%;">
           <div class="row align-center grid-x size footer-links-2" style="padding-left: 0;padding-right: 0;margin-right: 0 !important;max-width: 100%;margin-left: 0;">
          <div class="large-4 columns">
                <p> ©Copyright 2018. All rights reserved | Placement Cell LNMIIT</p>
          </div>
           <div class="large-8 columns">
             <p align="right" class="footer-links-2"> Developers:- <a href="https://github.com/jitenss" target="blank" class="links"> Jiten Sadhwani</a>,<a href="https://github.com/   Vedarth" target="blank" class="links"> Vedarth Sharma</a>,<a href="https://github.com/aasthasona79" target="blank" class="links"> Aastha Agarwal</a>,<a href="https://github.com/kritika0598" target="blank" class="links"> Kritika singhal</a>,<a href="https://github.com/tusharb104" target="blank" class="links"> Tushar Bansal</a>,<a href="https://github.com/atharvasharma"  target="blank" class="links"> Atharva Sharma</a>,<a href="https://github.com/NickSneo" target="blank" class="links"> Nischal Sharma</a>
               </p>
          </div>
         </div>
      </footer>



 <script>
         $(document).ready(function() {
            $(document).foundation();
         })
      </script>
     <script type="text/javascript">
        function myfun() {
          document.getElementById('lifeat').click();
        }
      </script>

    <script>
function myFunction2() {
    var x = document.getElementById("myTopnav");
    var y = document.getElementById("drpc");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
        y.style.display = "none";
    }
}
</script>
<script type="text/javascript">

         function toggleBut2() {
             var x = document.getElementById("drpc");

             if (x.style.display === "block") {
                 x.style.display = "none";

             } else {
                 x.style.display = "block";

             }

         }

      </script>
<script>
      function displayMenu() {
        var x = document.getElementById("nav");
        console.log(x);
          if (x.className === "navbar") {
             x.className += " responsive";
          } else {
            x.className = "navbar";
        }
      }
      </script>
  </body>
  </html>
